:root {
	--link_color:                 #97b57c;
	--input_background:           #4f596d;
	--input_hover_background:     #535e73;
	--input_text:                 #e5e9f0;
	--input_disabled_text:        #2f3541;
	--highlight_background:       #a4be8c;
	--highlight_color:            #a4be8c;
	--highlight_text_color:       #2f3541;
	--danger_color:               #bd5f69;
	--danger_text_color:          #2f3541;
	--scrollbar_foreground_color: #8fbcbb;
	--scrollbar_hover_color:      #86bfcf;

	--background_color:         #2f3541;
	--background:               #2f3541;
	--background_text_color:    #d7dde8;
	--background_pattern:       url("/res/img/background_patterns/checker8_transparent.png");
	--background_pattern_color: #2f3541;
	--navigation_background:    none;
	--body_color:               #3b4252;
	--body_background:          #3b4252;
	--body_text_color:          #d7dde8;
	--separator:                #485164;
	--shaded_background:        hsla(222, 16.00%, 28.00%, 0.80);
	--card_color:               #434c5f;

	--chart_1_color: #a4be8c;
	--chart_2_color: #8ca4be;
	--chart_3_color: #be8ca4;

	--shadow_color: #313640;
}

@media (prefers-color-scheme: light) {
	:root {
	--link_color:                 #4f7230;
	--input_background:           #cad2e1;
	--input_hover_background:     #c4cddd;
	--input_text:                 #2f3541;
	--input_disabled_text:        #ebeef3;
	--highlight_background:       #a4be8c;
	--highlight_color:            #a4be8c;
	--highlight_text_color:       #3b4252;
	--danger_color:               #bd5f69;
	--danger_text_color:          #3b4252;
	--scrollbar_foreground_color: #8fbcbb;
	--scrollbar_hover_color:      #86bfcf;

	--background_color:         #d7dde8;
	--background:               #d7dde8;
	--background_text_color:    #2f3541;
	--background_pattern:       url("/res/img/background_patterns/checker18_transparent.png");
	--background_pattern_color: #d7dde8;
	--navigation_background:    none;
	--body_color:               #ebeef3;
	--body_background:          #ebeef3;
	--body_text_color:          #434c5f;
	--separator:                #d7dde8;
	--shaded_background:        hsla(218, 27.00%, 94.00%, 0.80);
	--card_color:               #e5e9f0;

	--chart_1_color: #a4be8c;
	--chart_2_color: #8ca4be;
	--chart_3_color: #be8ca4;

	--shadow_color: #b2bccd;
}
}